<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Sesión - Mi Blog</title>
    <link rel="stylesheet" href="BLOG/static/css/style">
</head>
<body>
    <div class="login-container">
        {% include 'navbar.html' %}
        <h1>Iniciar Sesión - Mi Blog</h1>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages">
                    {% for message in messages %}
                        <div class="flash-message {{ message[1] }}">{{ message[0] }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form method="POST" action="{{ url_for('login') }}">
            <label for="username">Nombre de usuario:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>

            <input type="submit" value="Iniciar Sesión">
        </form>

        <p>¿No tienes una cuenta? <a href="{{ url_for('registro') }}">Regístrate aquí</a></p>
    </div>
    {% include 'footer.html' %}
</body>
</html>
